@for $i from 1 through 10 {
    .p-test-#{$i} {
        padding: #{$i}0px !important
    }
    .p-#{$i}{
        padding: #{$i}0px!important;
    }
    .pt-#{$i}{
        padding-top: #{$i}0px!important;
    }
    .pb-#{$i}{
        padding-bottom: #{$i}0px!important;
    }
    .m-#{$i}{
        margin: #{$i}0px!important;
    }
    .mt-#{$i}{
        margin-top: #{$i}0px!important;
    }
    .mb-#{$i}{
        margin-bottom: #{$i}0px!important
    }
}