// Font size
$base-font-size: 16;
@mixin  font-size($size) {
    font-size: ($size/$base-font-size) + rem;
}
.font-12{
    @include font-size(12)
}
.font-14{
    @include font-size(14)
}
.font-16{
    @include font-size(16)
}
.font-18{
    @include font-size(18)
}

//Font family
.font-osw{
    font-family: 'Oswald', sans-serif;
}
.font-roboto{
    font-family: 'Roboto', sans-serif;
}