// Font size
.font-14{
    font-size: 0.875em;
}
.font-12{
    font-size: 0.75em;
}
.font-16{
    font-size: 1em;
}

//Font family
.font-osw{
    font-family: 'Oswald', sans-serif;
}
.font-roboto{
    font-family: 'Roboto', sans-serif;
}