#header-page{
    background-image: url('../../../../assets/images/bg-header.jpg');
    position: relative;
    nav{
        background-color: transparent;
    }
}
#header-page::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #000000d3;
}

